@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 171 69% 95%;
        --foreground: 171 5% 4%;
        --card: 171 50% 90%;
        --card-foreground: 171 5% 10%;
        --popover: 171 69% 95%;
        --popover-foreground: 171 95% 4%;
        --primary: 171 60% 23%;
        --primary-foreground: 0 0% 100%;
        --secondary: 171 30% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: 133 30% 85%;
        --muted-foreground: 171 5% 35%;
        --accent: 133 30% 80%;
        --accent-foreground: 171 5% 10%;
        --destructive: 0 69% 30%;
        --destructive-foreground: 171 5% 90%;
        --border: 171 30% 50%;
        --input: 171 30% 18%;
        --ring: 171 60% 23%;
        --radius: 0.75rem;
        /* Updated sidebar theme to match main theme */
        --sidebar-background: 171 69% 95%;
        --sidebar-foreground: 171 5% 26%;
        --sidebar-primary: 171 60% 23%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 133 30% 80%;
        --sidebar-accent-foreground: 171 5% 10%;
        --sidebar-border: 171 30% 50%;
        --sidebar-ring: 171 60% 23%;
    }
    .dark {
        --background: 171 50% 5%;
        --foreground: 171 5% 90%;
        --card: 171 50% 4%;
        --card-foreground: 171 5% 90%;
        --popover: 171 50% 5%;
        --popover-foreground: 171 5% 90%;
        --primary: 171 60% 23%;
        --primary-foreground: 0 0% 100%;
        --secondary: 171 30% 10%;
        --secondary-foreground: 0 0% 100%;
        --muted: 133 30% 15%;
        --muted-foreground: 171 5% 60%;
        --accent: 133 30% 15%;
        --accent-foreground: 171 5% 90%;
        --destructive: 0 69% 30%;
        --destructive-foreground: 171 5% 90%;
        --border: 171 30% 18%;
        --input: 171 30% 18%;
        --ring: 171 60% 23%;
        --radius: 0.75rem;
        /* Updated dark sidebar theme to match main dark theme */
        --sidebar-background: 171 50% 5%;
        --sidebar-foreground: 171 5% 90%;
        --sidebar-primary: 171 60% 23%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 133 30% 15%;
        --sidebar-accent-foreground: 171 5% 90%;
        --sidebar-border: 171 30% 18%;
        --sidebar-ring: 171 60% 23%;
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
